.bloquetitulo {
    height: 100px;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    box-shadow: 0px -9px 64px 79px rgba(0,0,0,1);
    -webkit-box-shadow: 0px -9px 64px 79px rgba(0,0,0,1);
    -moz-box-shadow: 0px -9px 64px 79px rgba(0,0,0,1);
}
.titulo {
    color: aliceblue;
    font-family:monospace;
    position: relative;
    font-size: 250%;
    margin: 0px;
}
.titulo2 {
    color: aliceblue;
    font-family:monospace;
    position: relative; 
    font-size: 150%;
    margin: 0px;
}
.bloquepreguntas {
    text-align: center;
    width: 50%;
    height: 70%;
    top: 25%;
    left: 25%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.pregunta {
    border: 15px;
    border-style: inset;
    border-color: rgb(173, 10, 10);
    border-radius: 10%;
    width: 40%;
    height: 40%;
    text-align: center;
    overflow: hidden;
}
div.pregunta img {
    position: relative;
    max-width: 100%;
}